# Secrets
.env
.env.*
!.env.example
*.pem

# DuckDB
*.duckdb
*.duckdb.wal
*.db

# dbt
target/
dbt_packages/
logs/
.user.yml

# Airflow
airflow.db
airflow.cfg
webserver_config.py
standalone_admin_password.txt
airflow-worker.pid

# Raw landed data
data/raw/
data/bronze/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/
